<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.attendance.record.dao.LeaveDao">
    <resultMap id="leaveMap" type="com.attendance.record.domain.Leave">
        <result column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="reason" property="reason"/>
        <result column="employee_num" property="employeeNum"/>
        <result column="real_name" property="realName"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="day_count" property="dayCount"/>
        <result column="state" property="state"/>
    </resultMap>
    <sql id="base_column">
        id, type, reason, employee_num, real_name, start_date, end_date, day_count, state
    </sql>
    <insert id="insertLeave" parameterType="com.attendance.record.domain.Leave">
        insert into leavedata(<include refid="base_column"/>) values (#{id}, #{type}, #{reason}, #{employeeNum}, #{realName}, #{startDate}, #{endDate}, #{dayCount}, #{state});
    </insert>
    <select id="selectLeaveById" resultMap="leaveMap">
        select <include refid="base_column"/> from leavedata where id=#{id};
    </select>
    <select id="selectLeavesByEmployeeNum" resultMap="leaveMap">
        select <include refid="base_column"/> from leavedata where employee_num=#{employeeNum};
    </select>
    <update id="updateLeave" parameterType="com.attendance.record.domain.Leave">
        update leavedata set type=#{type}, reason=#{reason}, employee_num=#{employeeNum}, real_name= #{realName}, start_date=#{startDate}, end_date=#{endDate}, day_count=#{dayCount}, state=#{state} where id=#{id};
    </update>
    <delete id="deleteLeaveById">
        delete from leavedata where id=#{id};
    </delete>
    <select id="selectLeavesByEmployeeNumAndDate" resultMap="leaveMap">
        select <include refid="base_column"/> from leavedata where employee_num=#{employeeNum} and start_date=#{startDate};
    </select>
    <select id="selectLeavesByEmployeeNumMonth" resultMap="leaveMap">
        select <include refid="base_column"/> from leavedata where employee_num=#{employeeNum} and ((start_date between #{start} and #{end}) or (end_date between #{start} and #{end}));
    </select>
    <select id="selectLeavesState" resultMap="leaveMap">
        select <include refid="base_column"/> from leavedata where state=#{state};
    </select>
    <select id="selectLeaves" resultMap="leaveMap">
        select <include refid="base_column"/> from leavedata;
    </select>
    <update id="updateLeaveState">
        update leavedata set state=#{state} where id=#{id};
    </update>
</mapper>